asgiref==3.8.1
crispy-bootstrap4==2024.10
Django==5.1.7
django-countries==7.6.1
django-crispy-forms==2.3
djangorestframework==3.15.2
drf-spectacular==0.28.0
gunicorn==23.0.0
packaging==25.0
django-environ
sqlparse==0.5.3
typing_extensions==4.12.2
tzdata==2025.1
psycopg2-binary
pgvector
google-genai
