<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}CloudMarket{% endblock %}</title>
</head>
<body>
    <div>
        {% block content %}{% endblock %}
    </div>
    {% if user.is_authenticated %}
        <div>
            <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit" class="logout-button">Logout</button>
            </form>
        </div>
    {% else %}
        <div>
            <p><a href="/login/">Login</a></p>
        </div>
    {% endif %}
</body>
</html>
