{% extends "marketplace/base.html" %}

{% block title %}CloudMarket-Home{% endblock title %}

{% block content %}
<style>
    .logout-button {
        background-color: #ff4d4d;
        color: white;
        border: none;
        padding: 10px 15px;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
    }

    .logout-button:hover {
        background-color: #cc0000;
    }

    .login-button {
        background-color: #4CAF50;
        color: white;
        border: none;
        padding: 10px 15px;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
    }

    .login-button:hover {
        background-color: #45a049;
    }
</style>

<h2>Welcome to CloudMarket</h2>

{% endblock content %}