{% extends "marketplace/base.html" %}

{% block title %}Publish App{% endblock title %}
{% load crispy_forms_tags %}

{% block content %}
<style>
    .logout-button {
        background-color: #ff4d4d;
        color: white;
        border: none;
        padding: 10px 15px;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
    }

    .logout-button:hover {
        background-color: #cc0000;
    }

    .login-button {
        background-color: #4CAF50;
        color: white;
        border: none;
        margin:10px ; 
        padding: 10px 15px;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
    }
    .login-button:hover {
        background-color: #45a049;
    }
    .publish-button {
        background-color: #00a7fa;
        color: white;
        border: none;
        margin:10px ; 
        padding: 10px 15px;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
    }
    .publish-button:hover {
        background-color: #2980b9;
    }


</style>
    <h2>Publish App</h2>
    <form method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <button type=submit class="publish-button" name="publish_app">Publish</button>
    </form>
{% endblock content %}